
header {
  width: 100%;
}
div.inicio {
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
  width: 90%;
  margin: 21px auto;
  height: 10%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
div.imagen{
  display: none;
}
div.info h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  padding-top: 4%;
  font-size: 215%;
    color:#3e403f;
}
div.info h2 {
  font-family: "Inconsolata", sans-serif;
  width: 80%;
  font-weight: bold;
  margin: 3% auto;
  font-size: 127%;
  color: #3e403f;
}

div.info i {
    font-size: 15px;
    color: rgba(255, 145, 170, 1);
    padding-right: 5%;
}

.ver_mas {
    font-size: 12px;
    display: block;
    padding-top: 3%;
}

div.info a{
text-decoration: none;
font-family: "Inconsolata", sans-serif;
width: 65%;
margin: 0 auto;
font-size: 78%;
color: #3e403f;
}
div.botones {
  display: flex;
  justify-content: space-around;
}

a#dropdownMenuLink.btn {
  background-color: white;
  padding: 8%;
  color: #3e403f;
  border: 2px solid #FFE6FA;
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
}
hr {
  border-top: 2px solid #21252966;
  width: 90%;
  margin: 21px auto;
}
div.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
div.producto{
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}
div.productos button{
  background-color: white;
  padding: 2%;
  color:black;
  border: 2px solid white;
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  margin: 0 auto;
}
div.mapa{
  display: none;
}
div.comprar button{
  font-family: "Inconsolata", sans-serif;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}
div.card{
  border-radius: 13px 13px;
  border:2px solid #E3FDF5;
  padding-bottom: 2%;
  width: 100%;
  margin: 2%;
  float: left;
}
div.card img{
  height: 30vh;
}
div.card p{
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}
div.card h3{
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}
div.card h4{
  display: block;
  width: 100%;
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}

div.comprar{
  text-align: center;
}


@media (min-width: 940px){
div.producto{
  width: 90%;
  margin: 0 auto;
}
div.card{
  width: 20%;
  float: left;
}
div.inicio{
  padding: 0;
}
div.info h1{
  font-size: 250%;
}
div.info i{
  display: none;
}
div.info h2{
  font-size: 100%;
}
div.info a{
  font-size: 97%;
}
div.imagen img{
  width: 45%;
  border-radius: 51%;
}
div.imagen{
display: block;
margin-left: -15%;
}

}
